
/* Extra Configuration */

html {
    margin: 0px;
    padding: 0px;
    text-align: justify;
}

body {
    margin: 2em;
    padding: 0;
    font: inherit;
    text-align: justify;
}

/* General header styles */
h1, h2, h3, h4, h2, h5  { color:#236B8E; }

h1 { font-size: 150%;    }
h2 { font-size: 130%;   font-style: bold; }
h3 { font-size: 120%;   font-style: bold; }
h4 { font-size: 110%;   font-style: bold; }
h5 { font-size: 110%;   font-style: bold; }


/* Font settings for page elements */
code, pre, tt,  {
    font-family:  monospace;
}

/* Indented block */
div.indent {  margin-left: 50px;}

li {
    padding-top: 3px;
    padding-bottom: 3px;
    font-size: 100%;
}

ul {  font-size: 100%;}

ul#manualtoc { padding-left:1.25em;}

.verbatim {font-family: monospace; white-space: nowrap; color: #3366ff;}
.verb {font-family: monospace; white-space: nowrap; color: #3366ff;}
.var {font-family: monospace; white-space: nowrap; color: green;}
.struct { color: red;}
.description { color: Grey; }
.ret { }
.args {  }
.fun { font-size: 105%; font-weight: bold; }


/* span.author { */
/*     color:black; */
/*     text-decoration:underline; */
/*     font-weight:normal; */
/* } */

/* .titleHead{  text-align: center;} */
/* .author{  text-align: center; font-size: 110%;  font-style: italic;} */
/* .date{  text-align: center; font-style: italic;} */


/* #center { text-align: center; } */
/* .center { text-align: center; } */
/* .center table { margin-left: auto;  margin-right: auto; */
/*     text-align: left; } */



