*~
*.swp
Makeuser.incl
bin
config.h
doc/html
doc/latex
include
lib
config
pnl-manual.idx
pnl-manual.ilg
pnl-manual.ind
pnl-manual.out
man/pnl-manual.pdf
main.cpp
man/html/pnl-manual*
man/html/*.png
cmake_install.cmake
CMakeFiles
CTestTestfile.cmake
cmake_uninstall.cmake
install_manifest.txt
CMakeCache.txt
build*
.clang_complete
