*~
*.swp
bin
src/doc/html
src/doc/latex
include
lib
pnl-manual.idx
pnl-manual.ilg
pnl-manual.ind
pnl-manual.out
pnl-manual.cfg
man/pnl-manual.pdf
man/html/pnl-manual*
man/html/*.png
cmake_install.cmake
CMakeFiles
CTestTestfile.cmake
install_manifest.txt
CMakeCache.txt
build*
