Makefile
Makefile.in
*.lo
*.o
*.la
*.deps
*.libs
*.dylib
*.dll
*.lib
*.exe
*.dll.a
*~
*.swp
Makeuser.incl
aclocal.m4
autom4te.cache
bin
config.h
config.status
configure
doc/html
doc/latex
include
lib
libtool
config
pnl-manual.idx
pnl-manual.ilg
pnl-manual.ind
pnl-manual.out
pnl-manual.pdf
main.cpp
stamp-h1
man/html/pnl-manual*
man/html/*.png
cmake_install.cmake
CMakeFiles
CTestTestfile.cmake
cmake_uninstall.cmake
install_manifest.txt
CMakeCache.txt
build*
.clang_complete
